<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                             <label for="formFile" class="form-label">Nombre Completo</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus>
                        </div>
                    <div class="form-group">
                         <label for="formFile" class="form-label">Apellidos</label>
                        <input type="text" name="apellido" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                         <label for="formFile"  class="form-label">Seleccione tipo de Documento</label>
                        <select class="form-select" name="tipodoc" aria-label="Seleccione tipo de documento">
                        <option value="1">Cédula de ciudadanía</option>
                        <option value="2">Tarjeta de Identidad</option>
                        <option value="3">Cédula de extranjería</option>
                        </select>
                    </div>
                     <div class="form-group">
                          <label for="formFile" class="form-label">Digite su número de documento</label>
                        <input type="number" name="documento" class="form-control" placeholder="Documento">
                    </div>

                    <div class="form-group">
                         <label for="formFile" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                         <label for="formFile" class="form-label">Celular</label>
                        <input type="number" name="celular" class="form-control" placeholder="Celular">
                    </div>
                    <div class="form-group">
                         <label for="formFile" class="form-label">Fecha de Nacimiento</label>
                            <input class="form-control" name="fecha" type="datetime-local" value="2011-08-19T13:45:00" >
  </div>
                    </div>
                    <div class="form-group">
                        <label for="formFile" class="form-label">Adjuntar Archivo</label>
                        <input class="form-control" name="file" type="file" >
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Save
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>